<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>UNLa</title>

	<!-- Bootstrap core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="css/modern-business.css" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/index">Benja y Valen</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">

					<li class ="nav-item dropdown">
						<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
							data-toggle="dropdown" href="#" id="navbarDropdownBlog" sec:authorize="anonymous or hasAuthority('Auditor')">Productos</a>
						<div aria-labelledby="navbarDropdownBlog" class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" sec:authorize="anonymous" th:href="@{/permiso_diario/seleccionarDni}">Congelados</a>
							<a class="dropdown-item" sec:authorize="anonymous" th:href="@{/permiso_periodo/seleccionarDni}">Carne</a>
							<a class="dropdown-item" href="/permiso/seleccionarDni">Pescado</a>

						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" sec:authorize="anonymous" th:href="@{/persona/}">Hola vieja</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" sec:authorize="anonymous" th:href="@{/rodado/}">Como estas?</a>
					</li>
					
			</div>
			</li>
			</ul>
		</div>
		</div>
	</nav>

	<header>
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<!-- Slide One - Set the background image for this slide in the line below -->
				<div class="carousel-item active"
					style="background-image: url('https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/208867272_10223976142807891_3414678947192835912_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=hu9_Hc58dFEAX-np4Jz&_nc_ht=scontent.faep24-1.fna&oh=a4bf5c0be66baa556dac870a00341181&oe=6157D0E4')">
					<div class="carousel-caption d-none d-md-block">
					</div>
				</div>
				<!-- Slide Two - Set the background image for this slide in the line below -->
				<div class="carousel-item"
					style="background-image: url('https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/208710293_10223976143407906_8125998617711510960_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=qw_rcn7tzn8AX8dYE4X&_nc_oc=AQlC91axKmeuP_2DW3bwXpJYZcea3dYXaIWJldCM4xFk_d-mZ_rBa6cwizn_4J_A6Xc&_nc_ht=scontent.faep24-1.fna&oh=c54777f182aee7b9ed2253e7358beb70&oe=615A3B6E')">
					<div class="carousel-caption d-none d-md-block">
					</div>
				</div>
				<!-- Slide Three - Set the background image for this slide in the line below -->
				<div class="carousel-item"
					style="background-image: url('https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/202119538_10223930386984024_7416418682855869520_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=LqKtAJI6KroAX81dwFa&_nc_ht=scontent.faep24-1.fna&oh=66bfda102395b9fd1de59ed4f3401dee&oe=61580EEE')">
					<div class="carousel-caption d-none d-md-block">
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</header>

	<!-- Page Content -->
	<div class="container">

		<h1 class="my-4">PRODUCTOS DISPONIBLES</h1>

		<!-- Marketing Icons Section -->
		<div class="row">
			<div class="col-lg-3 mb-4">
				<div class="card h-100">
					<h4 class="card-header">Nuggets</h4>
					<div class="card-body">
						<p class="card-text">El precio por kg de nuggets vale $760</p>
						<img src = "https://www.computerhope.com/cdn/computer-hope.jpg" width = "200" height = "40" alt = "Computer Hope">
					</div>
					<div class="card-footer">
						<a href="https://www.google.com.ar/" class="btn btn-primary">Comprar</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-4">
				<div class="card h-100">
					<h4 class="card-header">Pechugitas crispy</h4>
					<div class="card-body">
						<p class="card-text">El precio por kg de pechugitas crispy vale $580</p>
					</div>
					<div class="card-footer">
						<a href="https://www.google.com.ar/" class="btn btn-primary">Comprar</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-4">
				<div class="card h-100">
					<h4 class="card-header">Medallones de jyq</h4>
					<div class="card-body">
						<p class="card-text">El precio por kg de pechugitas crispy vale $800</p>
					</div>
					<div class="card-footer">
						<a href="https://www.google.com.ar/" class="btn btn-primary">Comprar</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-4">
				<div class="card h-100">
					<h4 class="card-header">Croquetas de papa</h4>
					<div class="card-body">
						<p class="card-text">El precio por kg de croquetas de papa vale $450</p>
					</div>
					<div class="card-footer">
						<a href="https://www.google.com.ar/" class="btn btn-primary">Comprar</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Nahuel Ruiz 2021</p>
		</div>
		<!-- /.container -->
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
